# Poyecto Modulo 2

In [3]:
import pandas as pd

In [26]:
df = pd.read_csv("ForbesRichestAtheletes(1990-2020).csv")
df

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

1. Deportistas cuyo ranking ha subido al menos dos lugares entre 2010 y 2020

In [27]:
df = df.dropna()
df

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
10,11,Evander Holyfield,USA,1,8,boxing,1991,60.5
11,12,Mike Tyson,USA,2,1,boxing,1991,31.5
12,13,Michael Jordan,USA,3,8,basketball,1991,16.0
13,14,George Foreman,USA,4,>30,boxing,1991,14.5
14,15,Ayrton Senna,Brazil,5,4,auto racing,1991,13.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [28]:
df = df[df['Year']>= 2010]
df

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
191,192,Tiger Woods,USA,1,1,golf,2010,105.0
192,193,Floyd Mayweather,USA,2,>10,boxing,2010,65.0
193,194,Kobe Bryant,USA,3,2,basketball,2010,48.0
194,195,Phil Mickelson,USA,4,6,golf,2010,46.0
195,196,David Beckham,UK,5,5,soccer,2010,43.7
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [43]:
df['Previous Year Rank'] = df['Previous Year Rank'].replace({'>10':'11'})
df['Previous Year Rank'] = df['Previous Year Rank'].replace({'>100':'101'})
df['Previous Year Rank'] = df['Previous Year Rank'].replace({'>20':'21'})
df['Previous Year Rank'] = df['Previous Year Rank'].replace({'>14':'15'})
df['Previous Year Rank'] = df['Previous Year Rank'].replace({'?':'-9999'})
df['Previous Year Rank'] = df['Previous Year Rank'].replace({'??':'-9999'})
df = df[df["Previous Year Rank"]!=-9999]
df

C:\Users\moysa\AppData\Local\Temp\ipykernel_16808\3484558350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Previous Year Rank'] = df['Previous Year Rank'].replace({'>10':'11'})
C:\Users\moysa\AppData\Local\Temp\ipykernel_16808\3484558350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Previous Year Rank'] = df['Previous Year Rank'].replace({'>100':'101'})
C:\Users\moysa\AppData\Local\Temp\ipykernel_16808\3484558350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Previous Year Rank'] = df['Previous Year Rank'].replace({'>20':'21'})
C:\Users\moysa\AppData\Local\Temp\ipykernel_16808\3484558350.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Previous Year Rank'] = df['Previous Year Rank'].replace({'>14':'15'})
C:\Users\moysa\AppData\Local\Temp\ipykernel_16808\3484558350.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Previous Year Rank'] = df['Previous Year Rank'].replace({'?':'-9999'})
C:\Users\moysa\AppData\Local\Temp\ipykernel_16808\3484558350.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Previous Year Rank'] = df['Previous Year Rank'].replace({'??':'-9999'})

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
191,192,Tiger Woods,USA,1,1,golf,2010,105.0
192,193,Floyd Mayweather,USA,2,11,boxing,2010,65.0
193,194,Kobe Bryant,USA,3,2,basketball,2010,48.0
194,195,Phil Mickelson,USA,4,6,golf,2010,46.0
195,196,David Beckham,UK,5,5,soccer,2010,43.7
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,101,American Football,2020,60.5
300,301,Carson Wentz,USA,10,101,American Football,2020,59.1

In [49]:
df['Previous Year Rank'] = df['Previous Year Rank'].astype(int)
df['Current Rank'] = df['Current Rank'].astype(int)

In [50]:
df['Previous Year Rank']+1000

191    1001
192    1011
193    1002
194    1006
195    1005
       ...
296    1009
297    1010
298    1011
299    1101
300    1101
Name: Previous Year Rank, Length: 106, dtype: int32

In [51]:
df = df[(df['Previous Year Rank'] - df['Current Rank']) > 1]
df

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
192,193,Floyd Mayweather,USA,2,11,boxing,2010,65.0
194,195,Phil Mickelson,USA,4,6,golf,2010,46.0
196,197,Roger Federer,Switzerland,6,11,tennis,2010,43.0
199,200,Eli Manning,USA,9,11,American Football,2010,39.9
203,204,LeBron James,USA,3,7,basketball,2011,48.0
204,205,Roger Federer,Switzerland,4,6,tennis,2011,47.0
207,208,Cristiano Ronaldo,Portugal,7,13,soccer,2011,38.0
208,209,Alex Rodriguez,Dominican,8,12,baseball,2011,35.0
209,210,Michael Schumacher,Germany,9,21,F1 racing,2011,34.0
210,211,Lionel Messi,Argentina,10,21,soccer,2011,32.3
212,213,Manny Pacquiao,Filipino,2,24,Boxing,2012,62.0
219,220,Cristiano Ronaldo,Portugal,9,21,Soccer,2012,42.5
221,222,Tiger Woods,USA,1,3,Golf,2013,78.1
222,223,Roger Federer,Switzerland,2,5,Tennis,2013,71.5
223,224,Kobe Bryant,USA,3,6,Basketball,2013,61.9
231,232,Floyd Mayweather,USA,1,14,Boxing,2014,105.0
232,233,Cristiano Ronaldo,Portugal,2,9,Soccer,2014,80.0
234,235,Lionel Messi,Argentina,4,10,Soccer,2014,64.7
239,240,Rafael Nadal,Spain,9,15,Tennis,2014,44.5
240,241,Matt Ryan,USA,10,101,American Football,2014,43.8
242,243,Manny Pacquiao,Philippines,2,11,Boxing,2015,160.0
245,246,Roger Federer,Switzerland,5,7,Tennis,2015,67.0
247,248,Kevin Durant,USA,7,20,Basketball,2015,54.2
251,252,Cristiano Ronaldo,Portugal,1,3,Soccer,2016,88.0
252,253,Lionel Messi,Argentina,2,4,Soccer,2016,81.4
253,254,LeBron James,USA,3,6,Basketball,2016,77.2
255,256,Kevin Durant,USA,5,7,Basketball,2016,56.2
256,257,Novak Djokovic,Serbia,6,13,Tennis,2016,55.8
257,258,Cam Newton,USA,7,21,American Football,2016,53.1
259,260,Jordan Spieth,USA,9,21,Golf,2016,52.8
267,268,Rory McIlroy,Northern Ireland,6,17,Golf,2017,50.0
271,272,Floyd Mayweather,USA,1,101,Boxing,2018,285.0
274,275,Conor McGregor,Ireland,4,24,MMA,2018,99.0
275,276,Neymar,Brazil,5,18,Soccer,2018,90.0
279,280,Matt Ryan,USA,9,101,American Football,2018,67.3
280,281,Matthew Stafford,USA,10,101,American Football,2018,59.5
283,284,Neymar,Brazil,3,5,Soccer,2019,105.0
284,285,Canelo Alvarez,Mexico,4,15,Boxing,2019,94.0
285,286,Roger Federer,Switzerland,5,7,Tennis,2019,93.4
291,292,Roger Federer,Switzerland,1,5,Tennis,2020,106.3
295,296,LeBron James,USA,5,8,Basketball,2020,88.2
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,101,American Football,2020,60.5
300,301,Carson Wentz,USA,10,101,American Football,2020,59.1

2. Atleta con el menor nÃºmero de apariciones y mayores ganancias.

In [52]:
df_2 = pd.read_csv("ForbesRichestAtheletes(1990-2020).csv")

In [55]:
df_2.pivot_table(columns=['Name'], aggfunc='size').sort_values(axis=0)
Names_count = df_2.pivot_table(columns=['Name'], aggfunc='size')
Names_count_sorted = Names_count.sort_values(axis=0)
Names_one_time = Names_count_sorted[Names_count_sorted==1]

Names_one_time

Name
Aaron Rodgers              1
Eli Manning                1
Emmit Smith                1
Gary Sheffield             1
Novak Djokovic             1
Gerhard Berger             1
Muhammad Ali               1
Greg Norman                1
Lance Armstrong            1
Monica Seles               1
James Harden               1
Jeff Gordon                1
Michael Moorer             1
Matthew Stafford           1
Joe Sakic                  1
Jordan Spieth              1
Lewis Hamilton             1
Michael Vick               1
Donovan "Razor" Ruddock    1
Drew Brees                 1
Deion Sanders              1
Aaron Rogers               1
Tom Brady                  1
Terrell Suggs              1
Sergei Federov             1
Andrew Luck                1
Russell Wilson             1
Rory McIlroy               1
Buster Douglas             1
Dennis Rodman              1
Cam Newton                 1
Carson Wentz               1
Cecil Fielder              1
Conor McGregor             1
Dale Earnhardt Jr.         1
Rafael Nadal               1
Canelo Alvarez             1
Kirk Cousins               1
dtype: int64

In [57]:
df_names_one_time=pd.DataFrame().assign(Name=Names_one_time.keys())
df_names_one_time

                       Name
0             Aaron Rodgers
1               Eli Manning
2               Emmit Smith
3            Gary Sheffield
4            Novak Djokovic
5            Gerhard Berger
6              Muhammad Ali
7               Greg Norman
8           Lance Armstrong
9              Monica Seles
10             James Harden
11              Jeff Gordon
12           Michael Moorer
13         Matthew Stafford
14                Joe Sakic
15            Jordan Spieth
16           Lewis Hamilton
17             Michael Vick
18  Donovan "Razor" Ruddock
19               Drew Brees
20            Deion Sanders
21             Aaron Rogers
22                Tom Brady
23            Terrell Suggs
24           Sergei Federov
25              Andrew Luck
26           Russell Wilson
27             Rory McIlroy
28           Buster Douglas
29            Dennis Rodman
30               Cam Newton
31             Carson Wentz
32            Cecil Fielder
33           Conor McGregor
34       Dale Earnhardt Jr.
35             Rafael Nadal
36           Canelo Alvarez
37             Kirk Cousins

In [59]:
df_names_one_time_earnings = pd.merge(df_names_one_time, df_2 , on='Name')
df_names_one_time_earnings

,Name,S.NO,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,Aaron Rodgers,227,USA,6,?,American Football,2013,49.0
1,Eli Manning,200,USA,9,>10,American Football,2010,39.9
2,Emmit Smith,65,USA,5,not ranked,NFL,1996,16.5
3,Gary Sheffield,90,USA,10,NaN,Baseball,1998,17.2
4,Novak Djokovic,257,Serbia,6,13,Tennis,2016,55.8
5,Gerhard Berger,45,Austria,5,30,Auto Racing,1994,13.5
6,Muhammad Ali,154,USA,3,>10,boxing,2006,55.0
7,Greg Norman,7,Australia,7,NaN,golf,1990,8.5
8,Lance Armstrong,150,USA,9,>10,cycling,2005,28.0
9,Monica Seles,30,USA,10,12,Tennis,1992,8.5
10,James Harden,270,USA,9,NaN,Basketball,2017,46.6
11,Jeff Gordon,121,USA,10,>10,Auto Racing (Nascar),2002,20.0
12,Michael Moorer,47,USA,7,>40,Boxing,1994,12.1
13,Matthew Stafford,281,USA,10,>100,American Football,2018,59.5
14,Joe Sakic,79,Canada,9,none,Hockey,1997,17.9
15,Jordan Spieth,260,USA,9,>20,Golf,2016,52.8
16,Lewis Hamilton,271,UK,10,NaN,auto racing,2017,46.0
17,Michael Vick,145,USA,4,>10,American Football,2005,37.5
18,"Donovan ""Razor"" Ruddock",17,Canada,7,>30,boxing,1991,10.2
19,Drew Brees,226,USA,5,?,American Football,2013,51.0
20,Deion Sanders,53,USA,3,38,American Football / Baseball,1995,22.5
21,Aaron Rogers,288,USA,7,??,American Football,2019,89.3
22,Tom Brady,161,USA,9,>10,American Football,2006,29.0
23,Terrell Suggs,201,USA,10,>10,American Football,2010,38.3
24,Sergei Federov,83,Russia,3,NaN,Ice Hockey,1998,29.8
25,Andrew Luck,267,USA,6,NaN,American Football,2017,50.0
26,Russell Wilson,287,USA,6,??,American Football,2019,89.5
27,Rory McIlroy,268,Northern Ireland,6,17,Golf,2017,50.0
28,Buster Douglas,2,USA,2,NaN,boxing,1990,26.0
29,Dennis Rodman,69,USA,9,not ranked,Basketball,1996,12.9
30,Cam Newton,258,USA,7,>20,American Football,2016,53.1
31,Carson Wentz,301,USA,10,>100,American Football,2020,59.1
32,Cecil Fielder,38,USA,8,40,Baseball,1993,12.7
33,Conor McGregor,275,Ireland,4,24,MMA,2018,99.0
34,Dale Earnhardt Jr.,191,USA,10,>10,NASCAR,2009,34.0
35,Rafael Nadal,240,Spain,9,>14,Tennis,2014,44.5
36,Canelo Alvarez,285,Mexico,4,15,Boxing,2019,94.0
37,Kirk Cousins,300,USA,9,>100,American Football,2020,60.5

In [63]:
df_max = df_names_one_time_earnings['earnings ($ million)'].max()
df_deportist = df_names_one_time_earnings[df_names_one_time_earnings['earnings ($ million)'] == df_max]
df_deportist

,Name,S.NO,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
33,Conor McGregor,275,Ireland,4,24,MMA,2018,99.0

3. Deporte y paÃ­s con mayor nÃºmero de atletas no rankeados que entraron en la lista de atletas mejor pagados.

In [72]:
df_3 = pd.read_csv("ForbesRichestAtheletes(1990-2020).csv")

In [68]:
df_3.pivot_table(columns=['Name', 'Previous Year Rank'], aggfunc='size').sort_values(axis=0)

Name                Previous Year Rank
Aaron Rodgers       ?                      1
Michael Jordan      6                      1
                    8                      1
                    9                      1
Michael Moorer      >40                    1
                                          ..
LeBron James        6                      3
Michael Jordan      3                      4
                    1                      5
Michael Schumacher  2                      6
Tiger Woods         1                     11
Length: 202, dtype: int64

In [73]:
df_3 = df_3[df_3['Previous Year Rank'] == 'not ranked']
df_3

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
51,52,Mike Tyson,USA,2,not ranked,boxing,1995,40.0
53,54,Riddick Bowe,USA,4,not ranked,boxing,1995,22.2
64,65,Emmit Smith,USA,5,not ranked,NFL,1996,16.5
68,69,Dennis Rodman,USA,9,not ranked,Basketball,1996,12.9

### Como se puede observar en los datos anteriores, la nacionalidad con los deportistas no rankeados que entraron a la lista de los mejores pagados Ãºnicamente es USA, y por otro lado el deporte con mayor nÃºemero de deportistas no rankeados es boxing

4. PaÃ­s con mayor nÃºmero de deportes con atletas en el dataset.
5. Â¿CuÃ¡ntos atletas por deporte tiene cada paÃ­s?

In [84]:
df_4 = pd.read_csv("ForbesRichestAtheletes(1990-2020).csv")
df_4

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [86]:
df_4 = df_4.drop_duplicates(subset=['Name'])
df_4

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
284,285,Canelo Alvarez,Mexico,4,15,Boxing,2019,94.0
286,287,Russell Wilson,USA,6,??,American Football,2019,89.5
287,288,Aaron Rogers,USA,7,??,American Football,2019,89.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [87]:
df_4.pivot_table(columns=['Sport'], aggfunc='size')

Sport
American Football               15
American Football / Baseball     1
Auto Racing                      2
Auto Racing (Nascar)             1
Baseball                         3
Basketball                       9
Boxing                           5
F1 racing                        1
Golf                             3
Hockey                           1
Ice Hockey                       2
MMA                              1
NASCAR                           2
NBA                              1
NFL                              2
Soccer                           1
Tennis                           5
auto racing                      5
basketball                       2
boxing                           9
cycling                          1
golf                             4
motorcycle gp                    1
soccer                           4
tennis                           1
dtype: int64

In [88]:
df_4['Sport'] = df_4["Sport"].str.lower()
df_4

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
284,285,Canelo Alvarez,Mexico,4,15,boxing,2019,94.0
286,287,Russell Wilson,USA,6,??,american football,2019,89.5
287,288,Aaron Rogers,USA,7,??,american football,2019,89.3
299,300,Kirk Cousins,USA,9,>100,american football,2020,60.5
300,301,Carson Wentz,USA,10,>100,american football,2020,59.1

In [89]:
df_4.pivot_table(columns=['Sport'], aggfunc='size')

Sport
american football               15
american football / baseball     1
auto racing                      7
auto racing (nascar)             1
baseball                         3
basketball                      11
boxing                          14
cycling                          1
f1 racing                        1
golf                             7
hockey                           1
ice hockey                       2
mma                              1
motorcycle gp                    1
nascar                           2
nba                              1
nfl                              2
soccer                           5
tennis                           6
dtype: int64

auto racing -> auto racing (nascar), f1 motorsports, f1 racing, nascar
american football -> nfl, american football / baseball
basketball -> nba 
hockey -> ice hockey

In [90]:
df_4['Sport'] = df_4['Sport'].replace({'auto racing (nascar)':'auto racing'})
df_4['Sport'] = df_4['Sport'].replace({'f1 motorsports':'auto racing'})
df_4['Sport'] = df_4['Sport'].replace({'f1 racing':'auto racing'})
df_4['Sport'] = df_4['Sport'].replace({'nascar':'auto racing'})

df_4['Sport'] = df_4['Sport'].replace({'nfl':'american football'})
df_4['Sport'] = df_4['Sport'].replace({'american football / baseball':'american football'})

df_4['Sport'] = df_4['Sport'].replace({'nba':'basketball'})

df_4['Sport'] = df_4['Sport'].replace({'ice hockey':'hockey'})

df_4.pivot_table(columns=['Sport'], aggfunc='size')

Sport
american football    18
auto racing          11
baseball              3
basketball           12
boxing               14
cycling               1
golf                  7
hockey                3
mma                   1
motorcycle gp         1
soccer                5
tennis                6
dtype: int64

In [92]:
df_4.groupby(["Nationality","Sport"]).size().sort_values(ascending=False)

Nationality       Sport
USA               american football    18
                  basketball           12
                  boxing               11
                  golf                  5
                  tennis                3
                  baseball              3
                  auto racing           3
Brazil            soccer                2
Canada            hockey                2
UK                auto racing           2
Russia            hockey                1
USA               cycling               1
UK                soccer                1
Switzerland       tennis                1
Spain             tennis                1
Serbia            tennis                1
Argentina         soccer                1
Portugal          soccer                1
Australia         golf                  1
Northern Ireland  golf                  1
Mexico            boxing                1
Italy             motorcycle gp         1
Ireland           mma                   1
Germany           auto racing           1
France            auto racing           1
Finland           auto racing           1
Canada            boxing                1
                  auto racing           1
Brazil            auto racing           1
Austria           auto racing           1
Philippines       boxing                1
dtype: int64

4. Como podemos observar en los datos de la tabla anterior el paÃ­s con mayor nÃºmero de deportes es USA.

5. En la tabla anterior podemos ver la cantidad de deportistas con su respectivo deporte de cada paÃ­s.

6. Ganancia mÃ­nima y mÃ¡xima (dentro del dataset) por deporte y por paÃ­s.

In [95]:
df_4

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
284,285,Canelo Alvarez,Mexico,4,15,boxing,2019,94.0
286,287,Russell Wilson,USA,6,??,american football,2019,89.5
287,288,Aaron Rogers,USA,7,??,american football,2019,89.3
299,300,Kirk Cousins,USA,9,>100,american football,2020,60.5
300,301,Carson Wentz,USA,10,>100,american football,2020,59.1

Ganancias MÃ­nimas

In [97]:
df_4.groupby(["Nationality","Sport"])["earnings ($ million)"].min()

Nationality       Sport
Argentina         soccer               32.3
Australia         golf                  8.5
Austria           auto racing          13.5
Brazil            auto racing          10.0
                  soccer               31.0
Canada            auto racing          20.0
                  boxing               10.2
                  hockey               13.5
Finland           auto racing          40.0
France            auto racing           9.0
Germany           auto racing          15.0
Ireland           mma                  99.0
Italy             motorcycle gp        28.0
Mexico            boxing               94.0
Northern Ireland  golf                 50.0
Philippines       boxing               40.0
Portugal          soccer               38.0
Russia            hockey               29.8
Serbia            tennis               55.8
Spain             tennis               44.5
Switzerland       tennis               35.0
UK                auto racing           9.0
                  soccer               28.0
USA               american football     9.5
                  auto racing          19.1
                  baseball             12.7
                  basketball            8.1
                  boxing                8.1
                  cycling              28.0
                  golf                  8.1
                  tennis                8.5
Name: earnings ($ million), dtype: float64

Ganacias MÃ¡ximas

In [98]:
df_4.groupby(["Nationality","Sport"])["earnings ($ million)"].max()

Nationality       Sport
Argentina         soccer               32.3
Australia         golf                  8.5
Austria           auto racing          13.5
Brazil            auto racing          10.0
                  soccer               90.0
Canada            auto racing          20.0
                  boxing               10.2
                  hockey               17.9
Finland           auto racing          40.0
France            auto racing           9.0
Germany           auto racing          15.0
Ireland           mma                  99.0
Italy             motorcycle gp        28.0
Mexico            boxing               94.0
Northern Ireland  golf                 50.0
Philippines       boxing               40.0
Portugal          soccer               38.0
Russia            hockey               29.8
Serbia            tennis               55.8
Spain             tennis               44.5
Switzerland       tennis               35.0
UK                auto racing          46.0
                  soccer               28.0
USA               american football    89.5
                  auto racing          34.0
                  baseball             26.0
                  basketball           54.2
                  boxing               65.0
                  cycling              28.0
                  golf                 52.8
                  tennis               11.0
Name: earnings ($ million), dtype: float64

7. Atleta con mayores ganancias por deporte por dÃ©cada

In [99]:
df_4

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
284,285,Canelo Alvarez,Mexico,4,15,boxing,2019,94.0
286,287,Russell Wilson,USA,6,??,american football,2019,89.5
287,288,Aaron Rogers,USA,7,??,american football,2019,89.3
299,300,Kirk Cousins,USA,9,>100,american football,2020,60.5
300,301,Carson Wentz,USA,10,>100,american football,2020,59.1

In [100]:
df_1990_2000=df_4[(df_4["Year"]>=1990) & (df_4["Year"]<=2000)]
df_2000_2010=df_4[(df_4["Year"]>2000) & (df_4["Year"]<=2010)]
df_2010_2020=df_4[(df_4["Year"]>2010) & (df_4["Year"]<=2020)]

In [109]:
Total_earnings_1dec=df_1990_2000.groupby(["earnings ($ million)",'Name'])['Sport']

print(Total_earnings_1dec.sort_values(ascending=False))

AttributeError: 'SeriesGroupBy' object has no attribute 'sort_values'

In [103]:
Total_earnings_2dec=df_2000_2010.groupby(['Name','Sport'])["earnings ($ million)"].sum()
print(Total_earnings_2dec.sort_values(ascending=False))

Name                Sport
Floyd Mayweather    boxing               65.0
Muhammad Ali        boxing               55.0
Phil Mickelson      golf                 47.0
Peyton Manning      american football    42.0
Kimi Raikkonen      auto racing          40.0
Manny Pacquiao      boxing               40.0
Eli Manning         american football    39.9
Terrell Suggs       american football    38.3
LeBron James        basketball           38.0
Michael Vick        american football    37.5
Roger Federer       tennis               35.0
Dale Earnhardt Jr.  auto racing          34.0
Ronaldinho          soccer               31.0
Tom Brady           american football    29.0
Valentino Rossi     motorcycle gp        28.0
Lance Armstrong     cycling              28.0
David Beckham       soccer               28.0
Alex Rodriguez      baseball             26.0
Kobe Bryant         basketball           22.0
Jeff Gordon         auto racing          20.0
Jacques Villeneuve  auto racing          20.0
Name: earnings ($ million), dtype: float64

In [104]:
Total_earnings_3dec=df_2010_2020.groupby(['Name','Sport'])["earnings ($ million)"].sum()
print(Total_earnings_3dec.sort_values(ascending=False))

Name               Sport
Conor McGregor     mma                  99.0
Canelo Alvarez     boxing               94.0
Neymar             soccer               90.0
Russell Wilson     american football    89.5
Aaron Rogers       american football    89.3
Kirk Cousins       american football    60.5
Matthew Stafford   american football    59.5
Carson Wentz       american football    59.1
Novak Djokovic     tennis               55.8
Kevin Durant       basketball           54.2
Cam Newton         american football    53.1
Jordan Spieth      golf                 52.8
Drew Brees         american football    51.0
Andrew Luck        american football    50.0
Rory McIlroy       golf                 50.0
Aaron Rodgers      american football    49.0
Stephen Curry      basketball           47.3
James Harden       basketball           46.6
Lewis Hamilton     auto racing          46.0
Rafael Nadal       tennis               44.5
Matt Ryan          american football    43.8
Cristiano Ronaldo  soccer               38.0
Lionel Messi       soccer               32.3
Name: earnings ($ million), dtype: float64